@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

* { scroll-behavior: smooth; }

body {
  font-family: 'Inter', sans-serif;
  background-color: #12100e;
  color: #f0ece4;
}

::selection { background: #f59e0b; color: #000; }
::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: #1a1612; }
::-webkit-scrollbar-thumb { background: #f59e0b; }
